@model List<BestPizza>

<section class="w3l-about py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6">
                <h3>@ViewBag.title</h3>
               
                <p class="mt-sm-4 mt-3 mb-sm-0 mb-2">
                    @ViewBag.description
                </p>
                <a href="blog1.html" class="btn-style btn-primary btn mt-lg-5 mt-4">Daha Fazla Pizza</a>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/pizza.png" alt="" /></a>
                        <h4><a href="#url">@ViewBag.sub1</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/burger.png" alt="" /></a>
                        <h4><a href="#url">@ViewBag.sub2</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/drink.png" alt="" /></a>
                        <h4><a href="#url"> @ViewBag.sub3</a></h4>
                    </div>
                    <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
                        <a href="#url" class="icon"><img src="~/pizzapan-starter/assets/images/fries.png" alt="" /></a>
                        <h4><a href="#url">@ViewBag.sub4</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>