@model List<Footer>
<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-2 grids-content">
                    <div class="column">
                        <h4>Adres</h4>
                        <p class="contact-para3">@ViewBag.address</p>
                        <a href="mailto:@ViewBag.mail">
                            <p class="contact-mail mt-2">@ViewBag.mail</p>
                        </a>
                    </div>
                   
                    <div class="column">
                        <h4>Açılış Saatleri</h4>
                        <p>@ViewBag.openday</p>
                        <p class="mt-2">@ViewBag.openhourse</p>
                    </div>
             
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid">
                        <p class="copy-footer-29">
                         <a>© @DateTime.Now.Year Pizza Pan. Tüm Hakları Saklıdır. | Aleyna Yağmur TÜMTÜRK</a>
                        </p>
                    </div>
                    <div class="columns text-right social-grid">
                        <ul class="social">
                            <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>